#node
node_modules

#serverless framework
.serverless
jspm_packages

#cloudflare
.wrangler

#nuxt
.output
.data
.nuxt
.nitro
.cache
dist
distribution

#secrets
.env
.env.*
!.env.example
*.env
env.js
#secrets, added for nuxt
*.vars
#secrets, custom
secret*.txt

#logs
logs
*.log

#custom
*.diff
diff*.txt

#miscellaneous
.DS_Store
.fleet
.idea
