#node
node_modules

#serverless framework
.serverless
jspm_packages

#cloudflare
.wrangler
.dev.vars

#nuxt
.output
.data
.nuxt
.nitro
.cache
dist
stats*.html

#secrets
.env
.env.*
*.env
*.vars
env.js
card.js

#logs and diffs
logs
*.log
*.diff
diff*.txt

#miscellaneous
.DS_Store
