#node
node_modules

#serverless framework
.serverless
jspm_packages

#cloudflare
.wrangler

#nuxt
.output
.data
.nuxt
.nitro
.cache
dist
size
stats*.html
worker-configuration.d.ts

#sveltekit
.vercel
.netlify
.svelte-kit
build

#vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

#secrets
.env
.env.*
*.env
.dev.vars
.dev.vars*
*.vars
*.vars.*
env.js
card.js

#lock files; forgetting to delete one on a new os would really mess up the build
.yarn
package-lock.json

#logs and diffs
logs
*.log
*.diff
diff*.txt

#os and other
.DS_Store
Thumbs.db
.fleet
.idea
