/* ./assets/css/style.css, made to get styles to actually cascade, like a whole sheet of them ;) */

@font-face { /*yes, it's correct for font-face to go at the top, above the tailwind directives section below*/
	font-family: 'Diatype Rounded';
	src: url('/fonts/ABCDiatypeRounded-Regular-Trial.woff2') format('woff2');
	font-weight: 400; /* this file is one weight; regular is 400 */
	font-display: swap; /* show text with a fallback font until the browser loads this custom font */
}
@font-face {
	font-family: "Lemon Wide";
	src: url('/fonts/Lemon-Wide.woff2') format('woff2');
	font-weight: 400; /*ttd july2025, not sure if name and weight are correct for the given woff2 file*/
	font-display: swap; /* show text with a fallback font until the browser loads this custom font */
}

/* tailwind directives; when tailwind builds our css, it replaces these three with the generated stylesheet in these three layers */
@tailwind base;       /* "preflight" resets + any base-layer styles */
@tailwind components; /* component classes (e.g. form styles, if you enabled the forms plugin) */
@tailwind utilities;  /* all the utility classes (e.g. .text-center, .mt-4, etc.) */

@layer base {
	html, body {
		@apply bg-white text-gray-800 font-sans;
	}

	/* A global container class if you want consistent margins */
	.page-container {
		@apply mx-auto max-w-screen-md p-4 pb-0; /* centered, medium width, padding */
	}
	/* ^ttd july2025, you realize now you should probably move this into ./layouts/column-layout.vue */

	pre, code {
		@apply font-mono text-sm text-gray-400 font-bold;
	}

	a               { @apply text-blue-600 underline; }
	a:hover         { @apply text-blue-400; }
	a:visited       { @apply text-purple-600; }
	a:visited:hover { @apply text-purple-400; }
	a:active        { @apply text-red-800; }

	/* For all disabled buttons, use the default arrow instead of a hand pointer */
	button:disabled {
		@apply cursor-default;
	}
}

/* Components layer: define reusable classes for buttons, etc. */
@layer components {

	/* nothing here because individual components' style scoped blocks is a better place for this */
}
